## Configuracion de Spring
spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: tps-products

  datasource:
    url: jdbc:h2:mem:operadordb
    driverClassName: org.h2.Driver
    username: sa
    password:
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
    show-sql: true

  h2: 
    console:
      enabled: true
      settings:
        web-allow-others: true

  elasticsearch:
    uris: ${ELASTICSEARCH_URL:http://localhost:9200}
    api-key: ${ELASTICSEARCH_API_KEY}

## Configuracion de Instancia 
server:
  port: 8081

## Configuracion del cliente de Eureka
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true
    hostname: tps-products