## Configuracion de Spring
spring:
  application:
    name: tps-products

  datasource:
    url: jdbc:h2:mem:operadordb
    driverClassName: org.h2.Driver
    username: sa
    password:
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
    show-sql: true

  h2: 
    console:
      enabled: true

## Configuracion de Instancia 
server:
  port: 8081

## Configuracion del cliente de Eureka
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true
    hostname: tps-products